<%- include('./partials/head.ejs') %>
  <body>
  <%- include('./partials/header.ejs') %>
    <main>
      <div class="container">
        <h1><%= blog.title %></h1>
        <p><%= blog.body %></p>
        <div class="blog-info">
          <p>posted by: <%= blog.author %></p>
          <p>date: <%= blog.createdAt %></p>
          <div class="blog-actions">
            <% if(!user){ %>
            <p></p>
            <% } else if(user.username == author){ %>
            <button class="delete-blog-btn" data-blog-id="<%= blog._id %>">
              delete
            </button>
            <% } %>
          </div>
        </div>
      </div>
    </main>

    <script>
      const deleteBlogBtn = document.querySelector(".delete-blog-btn");

      // delete blog
      deleteBlogBtn.addEventListener("click", async (e) => {
        const { blogId } = deleteBlogBtn.dataset;
        console.log(blogId);
        try {
          const res = await fetch("/blog", {
            headers: { "Content-Type": "application/json" },
            method: "DELETE",
            body: JSON.stringify({ blogId }),
          });

          const resp = await res.json();
          console.log(resp);

          if (resp.message == "blog deleted successfully") {
            location.assign("/dashboard");
          }
        } catch (err) {
          console.log(err);
        }
      });
    </script>
  </body>
</html>
